.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 0px 10px;
  }

  .button {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 800px) {
      flex-direction: column;
      > *:first-child {
        margin-bottom: 10px;
      }
    }
  }
}
